<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BookMapper">
<!--    book_name,book_author, book_picture, book_factory, book_price,book_info,book_detail, book_addDate,series_name,book_num-->
    <insert id="addBook">
      insert into t_book(book_name,book_author, book_picture, book_factory, book_price,book_info,book_detail, book_addDate,series_id,book_num)
      values(#{book.bookName},#{book.bookAuthor},#{book.bookPicture},#{book.bookFactory},#{book.bookPrice},#{book.bookInfo},#{book.bookDetail},#{book.bookAddDate},#{seriesId},#{book.bookNum})
    </insert>

    <update id="updateBook" parameterType="com.entity.Book">
        update t_book set book_name=#{book.bookName},
                          book_author=#{book.bookAuthor},
                          book_picture=#{book.bookPicture},
                          book_factory=#{book.bookFactory},
                          book_Price=#{book.bookPrice},
                          book_info=#{book.bookInfo},
                          book_detail=#{book.bookDetail},
                          series_id=#{seriesId},
                          book_addDate=#{book.bookAddDate},
                          book_num=#{book.bookNum} where book_id=#{book.bookId}
    </update>

    <select id="getAllForExcel" resultType="com.entity.Book">
       select book_id,book_name,book_author, book_picture, book_factory, book_price,book_info,book_detail, book_addDate,series_name,book_num from t_book b,t_category c where b.series_id=c.series_id
    </select>
</mapper>